<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^myfancy\.org [NC]
RewriteRule (.*) http://www.myfancy.org/$1 [L,R=301]
RewriteBase /
RewriteRule ^signup$ signup.php
RewriteRule ^twitter_signup$ twitter_signup.php
RewriteRule ^settings$ settings.php
RewriteRule ^log_out$ logout.php
RewriteRule ^logout$ logout.php
RewriteRule ^login$ login.php
RewriteRule ^delete-account$ delete-account.php
RewriteRule ^confirmemail$ confirmemail.php
RewriteRule ^submit$ submit.php
RewriteRule ^post/([^/.]+)?/?(.*)$ view.php?pid=$1
RewriteRule ^safe$ safe.php
RewriteRule ^hot$ hot.php
RewriteRule ^thumbs$ thumbs.php
RewriteRule ^tvote$ tvote.php
RewriteRule ^ttrending$ ttrending.php
RewriteRule ^topusers$ topusers.php
RewriteRule ^random$ random.php
RewriteRule ^vote$ vote.php
RewriteRule ^trending$ trending.php
RewriteRule ^channels/([^/.]+)?/?$ channels.php?cname=$1&%{QUERY_STRING}
RewriteRule ^top?/?([^/.]+)?/?$ top.php?period=$1&%{QUERY_STRING}
RewriteRule ^fix/(.*) fix.php?pid=$1
RewriteRule ^search$ search.php
RewriteRule ^tag/(.*) tag.php?tag=$1
RewriteRule ^fast$ fast.php
RewriteRule ^user/([^/.]+)?/likes?/?$ likes.php?uid=$1&%{QUERY_STRING}
RewriteRule ^user/([^/.]+)?/messages$ messages.php?uid=$1&%{QUERY_STRING}
RewriteRule ^user/(.*)?$ user.php?uid=$1&%{QUERY_STRING}
RewriteRule ^user/user(.*)?$ user.php?uid=$1&%{QUERY_STRING}
RewriteRule ^faq$ faq.php
RewriteRule ^friends$ friends.php
RewriteRule ^pal$ pal.php
RewriteRule ^terms_of_service$ terms_of_service.php
RewriteRule ^privacy_policy$ privacy_policy.php
RewriteRule ^kiem-tien-online.html$ about.php
RewriteRule ^noi-quy-website.html$ rules.php
RewriteRule ^contact$ contact.php
RewriteRule ^lien-he-quang-cao.html blog.php?id=6
RewriteRule ^cach-vao-facebook-khi-bi-chan-moi-nhat-nam-2014.html blog.php?id=4
</IfModule>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress